<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/style.css")' type="text/css">
	<title>News Miner</title>
</head>
<body>
	<div id="wrap"> 
		<div id="logo">
			<h1 align="center"><font size="12">NEWS MINER</font></h1>
			<p><font size="2">get informed about the latest news</p>
			</br>
			<!--<div align="center"><img style="width: 500px; height: 90px;" src="images/Titelbild.png"></div>-->
		</div>

		<div id="menu">
			<div id="menu-left"></div>
			<ul>
				<li><a class="current" href="#"><span>home</span></a></li>
				<li><a href="about"><span>about us</span></a></li>
				<li><a href="create"><span>sign up</span></a></li>
			</ul>
			<div id="menu-right"></div>
		</div>
		
		<div id="content-top"></div>
		<div id="content-middle">
		<p>if you haven't signed up yet -> <a href ="create">CREATE AN ACCOUNT</a></p>
			<h1><font size="4">LOG IN</font></h1>
			<form action="input_text.htm">				
				<p>e-mail<br><input name="e-mail" type="text" size="30" maxlength="40"></p>
				<p>password<br><input name="password" type="password" size="30" maxlength="40"></p>
			</form>	
			
			<form action="http://localhost:9000/userprofile" method="get">
			  <p>
				<input type="submit" name="log in" value="log in" >
			  </p>
			</form>
			
			<div class="clear"></div>
		</div>
		
		<div id="content-bottom"></div>

		<div id="footer">
			<!--<p id="links"> <a href="#">Terms and Conditions</a> <a href="#">Privacy</a> </p>-->
			<p>Impressum: Maria Joanna Born, Arne Brüsch, Jana Riquel, Jennifer Sieg, Viviane Werner in cooperation with
				<a href="http://www.ifis.cs.tu-bs.de/">IFIS - Institute for Information Systems - Technische Universität Braunschweig</a></p>

		</div>

	</div>

</body>
</html>
