@(feeds: List[Feed], feedForm: Form[String])

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/style.css")' type="text/css">
	<title>News Miner</title>
</head>
<body>
	<div id="wrap"> 
		<div id="logo">
			<h1 align="center"><font size="12">NEWS MINER</font></h1>
			<p><font size="2">get informed about the latest news</font></p>
			<!--<div align="center"><img style="width: 500px; height: 90px;" src="images/Titelbild.png"></div>-->
		</div>

		<div id="menu">
			<div id="menu-left"></div>
			<ul>
				<li><a href="#"><span>home</span></a></li>
				<li><a class="current" href="#"><span>user profile</span></a></li>
				<li><a href="#"><span>about us</span></a></li>
				<li><a href="#"><span>log out</span></a></li>
			</ul>
			<div id="menu-right"></div>
		</div>

		<div id="content-top"></div>
		<div id="content-middle">
			<h1><font size="4">USERNAME</font></h1>
			</br>
			<h2><font size="3">RSS-Feeds</font></h2>

@import models.Feed
@import helper._

			@form(routes.Application.newFeed) {
				<p>@inputText(feedForm(""))<input type="submit" value="confirm">
				<p>@inputText(feedForm(""))<input type="submit" value="confirm">
				<p>@inputText(feedForm(""))<input type="submit" value="confirm">
			}
			<h2><font size="3">Favorite Topics</font></h2>
			<p>
				<INPUT TYPE=CHECKBOX NAME="politics" VALUE="name1"><font size="2">   politics</font><br />
				<INPUT TYPE=CHECKBOX NAME="sports" VALUE="name1"><font size="2">   sports</font><br />
				<INPUT TYPE=CHECKBOX NAME="enterteiment" VALUE="name1"><font size="2">   entertainment</font><br />
				<INPUT TYPE=CHECKBOX NAME="music" VALUE="name1"><font size="2">   music</font>
			</p>
			
			<h2><font size="3">Favorite Subjects</font></h2>
			<form action="input_text.htm">
				<form action="input_button.htm">
					<p><input name="Subject" type="text" size="30" maxlength="30"><input type="button" name="confirm" value="confirm"></p>
					<p><input name="Subject" type="text" size="30" maxlength="40"><input type="button" name="confirm" value="confirm"></p>
					<p><input name="Subject" type="text" size="30" maxlength="40"><input type="button" name="confirm" value="confirm"></p>
				</form>	
			</form>
			
			<h2><font size="3">Trends I follow</font></h2>
				<form action="input_button.htm">
					<p><font size="2">Trend		</font><input type="button" name="don´t follow" value="don´t follow"></p>
					<p><font size="2">Trend 	</font><input type="button" name="don´t follow" value="don´t follow"></p>
					<p><font size="2">Trend		</font><input type="button" name="don´t follow" value="don´t follow"></p>
				</form>	

			<div class="clear"></div>
		</div>
		
		<div id="content-bottom"></div>

		<div id="footer">
			<!--<p id="links"> <a href="#">Terms and Conditions</a> <a href="#">Privacy</a> <a href="#">About Us</a> </p>-->
			<p>Impressum: Maria Joanna Born, Arne Brüsch, Jana Riquel, Jennifer Sieg, Viviane Werner in cooperation with
				<a href="http://www.ifis.cs.tu-bs.de/">IFIS - Institute for Information Systems - Technische Universität Braunschweig</a></p>

		</div>

	</div>

</body>
</html>
