@(feeds: List[((String,String),String)])

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/style.css")' type="text/css">
   <title>News Miner</title>
</head>
<body>
   <div id="wrap"> 
      <div id="logo">
         <h1 align="center"><font size="12">NEWS MINER</font></h1>
         <p><font size="2">get informed about the latest news</font></p>
         <!--<div align="center"><img style="width: 500px; height: 90px;" src="images/Titelbild.png"></div>-->
      </div>

      <div id="menu">
         <div id="menu-left"></div>
         <ul>
            <li><a href="start"><span>home</span></a></li>
            <li><a href="user_profile"><span>user profile</span></a></li>
            <li><a class="current" href="#"><span>show_Feeds</span></a></li>
            <li><a href=about#"><span>about us</span></a></li>
            <li><a href="out"><span>log out</span></a></li>
         </ul>
         <div id="menu-right"></div>
      </div>

      <div id="content-top"></div>
      <div id="content-middle">
                    @for(feed <- feeds) {
                           <div class="column">
                              <h3>@feed._1._1</h3>
                              <p>@feed._2</p>
                              <p class="more"><a href="@feed._1._2">read more</a></p>
                           </div>
                           <div class="clear"></div>
                }
      </div>
      <div id="content-bottom"></div>

      <div id="footer">
         <!--<p id="links"> <a href="#">Terms and Conditions</a> <a href="#">Privacy</a> <a href="#">About Us</a> </p>-->
         <p>Impressum: Maria Joanna Born, Arne Brüsch, Jana Riquel, Jennifer Sieg, Viviane Werner in cooperation with
            <a href="http://www.ifis.cs.tu-bs.de/">IFIS - Institute for Information Systems - Technische Universität Braunschweig</a></p>

      </div>

   </div>

</body>
</html>
